
:root{
  --light_purple:(rgba(250, 236, 255, 0.98));
  --med_purple:(rbga(132,52,158,0.62));
  --dark_purple:(rgba(98,56,112,0.44));
  --shade_purple:(rgba(63,46,69,0.27))
  }


.cal-sans-regular {
font-family: "Cal Sans", sans-serif;
font-weight: 400;
font-style: normal;
}
    .feature-icon {
      width: 4rem;
      height: 4rem;
      border-radius: 0.75rem;
    }
#homeheader{
  color:(rgba(250, 236, 255, 0.98));
  background-color:(rgba(63,46,69,0.27));
  padding:2rem;
  font-family: "Cal Sans", sans-serif;
font-weight: 400;
font-style: normal;
}
p,li{
  font-family: "Cal Sans", sans-serif;
}

h1{
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
h2{
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@media (min-width: 768px) {
  #homeheader{
    font-size:2rem;
  }
}
@media (max-width: 1000px) {
  #homeheader{
    font-size:3.8rem;
  }
}
.button { background-color: #1c87c9; border: none; color: white; padding: 20px 34px; text-align: center; text-decoration: none; display: inline-block; font-size: 20px; margin: 4px 2px; cursor: pointer; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  background: #7a1a9e;
  background-image: none;
}
.bg-body-tertiary{
  background: #7a1a9e !important;
}
.navbar{
  padding-top:20px !important
}
.nav-item{
  margin-left: 40 px;
  margin-bottom:10 px;
}
.nav-link{
  color:#fff !important;
  font-size:12px;
  padding: 0 0 5px 0;
  display: unset !important
}
.fa-bars{
  color:#fff;
  font: size 40px !important;
}
.navbar-toggler{
  border:0;
  outline:none;
  padding:initial;
}

.active-home{
  border-bottom: 2px solid #fff;
}

.nav-link:hover{
  border-bottom:2px solid #fff;
}

.nav-bar-brand{
  color:#fff !important;
  font-family: "Lexend Deca", sans-serif;
}
.nav-bar-brand:hover{
  color:#7a1a9e !important;
}

.white-pic{
  fill:#fff;
}

.navbar a {
  color: white;
}
.navbar svg{
  fill:#fff;
}

.hero{
  background-image: linear-gradient((rgba(250, 236, 255, 0.98),#7a1a9e));
}
body{
  font-family:'Outfit';
  background:linear-gradient(rgba(250, 236, 255, 0.98),#7a1a9e)
}
.contact-container{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: space-evenly;

}
.contact-left{
  display:flex;
  flex-direction: column;
  align-items: start;
  gap:20px;
}

.contact-left-title h2{
  font-weight: 600;
  color: #3f2345;
  font-size:40px;
  margin-bottom: 5px;
}
.contact-left-title hr{
  border:none;
  width: 120px;
  height:5px;
  background-color:#3f2345;
  border-radius:5px;
  margin-bottom: 20px;
}

.contact-inputs{
  width:400px;
  height:50px;
  border:none;
  outline:none;
  padding-left: 25px;
  font-weight: 500;
  color:#666;
  border-radius: 50px;
}
.contact-left textarea{
  height:140px;
  padding-top:15px;
  border-radius: 20px;
}
.contact-inputs: focus{
border: 2px solid #3f2345;
}

.contact-inputs::placeholder{
  color:#a9a9a9;
}
.contact-left button{
  display:flex;
  align-items: center;
  padding: 15px 30px;
  font-size:16px;
  color:#f2f2f2;
  gap:10px;
  border:5px solid #3f2345;
  border-radius:50px;
  background:linear-gradient(270deg, #623870,#3f2345);
  cursor: pointer;
}
.contact-left button img{
  height:15px
}
.contact-right img{
  width:500px;
}
@media(max-width: 800px){
  .contact-inputs{
    width:80vw
    }
    .contact-right{
      display: none;
    }
  }
 