
/* General properties and classes across pages */
.gradient{
  background-image:linear-gradient(rgba(250, 236, 255, 0.98),#7a1a9e)
}
html, body {
  height: 100%; /* Ensures html and body take full viewport height */
  margin: 0; /* Removes default body margin/* */
}

body {
  display: flex;
  flex-direction: column; /* Stacks header, content, and footer vertically */
  min-height: 100vh;
  min-height: 100dvh;
}

.content-wrap { Container for main content
  flex-grow: 1; /* Allows content to expand and push footer down */
}
.lpurple-background{
  background-color: #d9ccf3;
}
body{
  font-family:'Outfit';
  padding-bottom:0px;
}
p,li{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif sans-serif;
}

h1{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  padding-top: 100px;
  padding-bottom:25px
}
h2{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding:20px;
}
h3{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
hr{
  border:none;
  width: 250px;
  height:5px;
  background-color:#3f2345;
  border-radius:5px;
  margin: 0 auto;
  align-self: center;
}

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */
 
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.inline-img {
  display: inline;
  margin: 0 0.125em;
  padding: 0;
  vertical-align: text-bottom;
  width:25px
}
.margin-container{
  margin: 40px;
}
/* Navigation */
.header{
  background: #7a1a9e;
  background-image: none;
}
.bg-body-tertiary{
  background: #7a1a9e !important;
}
.navbar{
  padding-top:20px !important;
  text-align:center
}
.nav-item{
  margin-left: 40 px;
  margin-bottom:10 px;
}
.nav-link{
  color:#fff !important;
  font-size:12px;
  padding: 0 0 5px 0;
  display: unset !important
}
.fa-bars{
  color:#fff;
  font: size 40px !important;
}
.navbar-toggler{
  border:none;
  outline:none;
  padding:initial;
}
.navbar-toggler:focus{
  box-shadow:none;
}
.navitem{
  margin-left:30px;
  font-size: 1rem;
  text-align: right;
}
.dropdown-menu{
  background-color:#7a1a9e;
  border:none;
}
.dropdown-item{
  font-family: "Lexend Deca", sans-serif;
  color:#fff;
  background-color:#7a1a9e;
  text-align: right;
  font-size: 1rem;
}

.active-home{
  border-bottom: 2px solid #fff;
}

.nav-link{
  font-size: 1.2rem;
  text-align: right;
}
.nav-link:hover{
  border-bottom:2px solid #fff;
}

.navbar-brand{
  color:#fff;
  font-family: "Outfit", sans-serif;
}
.navbar-brand:hover{
  color:#21062b !important;
}
a.nav-bar{
  color:#fff !important;
}
/* SVG modification */
.white-pic{
  filter:invert(1);
}

.nav-bar a {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
.navbar a:hover {
  color: rgb(29, 22, 32);
}
.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav li {
  margin-left: 10px; /* Add spacing between items */
}

.headshot{
  border-color: #3f2345;
  border-width: 10px ;
  border-style: solid;
}
/* Footer  */
.footer *{
  color:#fff;
  background-color: #21062b;
  font-family: "Outfit", sans-serif;
  position:relative;
  bottom: 0vh;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  display:flex;
  flex-direction: row;
}
.footer div *{
  justify-content: center;
  display:flex;
  flex:auto;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;

}

footer .copyright{
  color:#fff;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
}
.fa.fa-linkedin {
  font-family: "Font Awesome 7 Brands";
  font-weight: 400;
  position:relative;
 top:5px
}
footer a{
  flex-grow:1
}
footer a:hover{
  color:#7a1a9e
}
footer .fa{
  padding: auto;
  font-size: 1rem;
  vertical-align: middle
  /* display:inline-block; */
}
.row {
  --bs-gutter-x: 0;
}

/* Modifying pre-existing bootstrap classes */
.img-fluid{
  border-radius: 50%;
  max-width: 100%;
  height: 300px;
}
.btn-primary{
  background-color: #7a1a9e;
  border-color: #3f2345;
  border-width: 2px;
}
.btn-primary:hover{
  background-color:#3f2345;
  border-color: #7a1a9e 
}
.btn-outline-secondary{
  background-color: rgb(35, 20, 40);
  border-color: #251f28 ;
  border-width: 2px;
  COLOR: #FFF;
}
.btn-outline-secondary:hover{
  background-color: rgb(74, 55, 80);
  border-color: #7a1a9e
}
.featurette{
  margin-left: 20px;
}
.featurette-body{
  margin-left:25px;
}
.featurette-body li{
  margin-left:0px;
}
/* .featurette-body li ::marker{
  position:relative;
  left: 0px;
} */
.featurette-image{
  border-width: 15px;
  border-color: #62164c;
  border-style: double ;
  width:500px;
  height:auto;
  display:block;
  object-fit: cover;
}

#mcgill{
  border-color: #e91a30;
}
#uottawa{
  border-color: #8f001a;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Modifications to bootstrap carousel classes */

.carousel {
    padding-bottom: 5px;
}
.carousel-caption{
  background-color: #f2f2f2;
  padding: 5px;
}
/* Classes from education featurettes */
.container-marketing{
  padding-top: 60px;
}

.featurette-divider{
  margin: 5rem 0;
  height: 5px;
  margin: 20px auto;
  color:#3f2345
}
/* CSS for professional experience page */
/* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #939597;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #7a1a9e;
  border: 5px solid #7a1a9e;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/* CSS for volunteering cards */

.card-container{
  padding-bottom: 30px;
}
.card-img-top{
  max-width: 75%;
}
.vol-card-img{
  position:relative;
  left: 38px;
  top: 20px;
  padding-top: 3.5px;
  padding-bottom:50px;
}

#atwater{
  max-width: 100%;
  padding-top: 100px;
  position: relative;
  bottom: 35px;
}
#santropol{
  max-width: 75%;
  padding-bottom: 0px;
  position: relative;
  left:45px;
}
.accordion{
  --bs-accordion-border-color: #131920 !important;
}


.accordion-button:not(.collapsed) {
  color: #21062b;
  background-color: #f0b5ff;
}

.vol-btn{
  width: 200px;
  margin-top:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* CSS for skills page */
.progress-bar{
  background-color: #840b9f;
}
/* CSS for portfolio page */
/* .card{
  --bs-card-border-color: #3f2345;
  } */
/* CSS for contact page and form */
.contact-container{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: space-evenly;

}

.contact-left{
  display:flex;
  flex-direction: column;
  align-items: start;
  gap:20px;
}
.contact-left-title > *{
position:relative;
right: 20px;
}
.contact-left-title h2{
  font-weight: 600;
  color: #3f2345;
  font-size:40px;
  margin-bottom: 5px;
}
.contact-left-title hr{
  border:none;
  width: 120px;
  height:5px;
  background-color:#3f2345;
  border-radius:5px;
  margin-bottom: 20px;
  position:relative;
  right: 74px;
}

.contact-inputs{
  width:400px;
  height:50px;
  border:none;
  outline:none;
  padding-left: 25px;
  font-weight: 500;
  color:#666;
  border-radius: 50px;
}
.contact-left textarea{
  height:140px;
  padding-top:15px;
  border-radius: 20px;
}
.contact-inputs: focus{
border: 2px solid #3f2345;
}

.contact-inputs::placeholder{
  color:#a9a9a9;
}
.contact-left button{
  display:flex;
  align-items: center;
  padding: 15px 30px;
  font-size:16px;
  color:#f2f2f2;
  gap:10px;
  border:5px solid #3f2345;
  border-radius:50px;
  background:linear-gradient(270deg, #623870,#3f2345);
  cursor: pointer;
}
.contact-left button img{
  height:15px
}
.contact-right img{
  width: 200px;
  filter: invert(1);
  padding-right: 10px;
}
@media(max-width: 800px){
  .contact-inputs{
    width:80vw
    }
    .contact-right{
      display: none;
    }
  }
 