
/* General properties and classes across pages */
.gradient{
  background-image:linear-gradient(rgba(250, 236, 255, 0.98),#7a1a9e)
}
html, body {
  height: 100%; /* Ensures html and body take full viewport height */
  margin: 0; /* Removes default body margin/* */
}

body {
  display: flex;
  flex-direction: column; /* Stacks header, content, and footer vertically */
  min-height: 100vh;
  min-height: 100dvh;
}

.content-wrap { /* Container for main content */
  flex-grow: 1; /* Allows content to expand and push footer down */
}
.lpurple-background{
  background-color: #d9ccf3;
}
body{
  font-family:'Outfit';
  padding-bottom:0px;
  margin-top: 1rem !important;
  margin-bottom:1rem !important;
}
p,li{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif sans-serif;
}

h1{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  padding-top: 100px;
  padding-bottom:25px
}
h2{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding:20px;
}
h3{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
hr{
  border:none;
  width: 250px;
  height:5px;
  background-color:#3f2345;
  border-radius:5px;
  margin: 0 auto;
  align-self: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
 
*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

/* Navigation */
.header{
  background: #7a1a9e;
  background-image: none;
}
.bg-body-tertiary{
  background: #7a1a9e !important;
}
.navbar{
  padding-top:20px !important;
  text-align:center
}
.nav-item{
  margin-left: 40 px;
  margin-bottom:10 px;
}
.nav-link{
  color:#fff !important;
  font-size:12px;
  padding: 0 0 5px 0;
  display: unset !important
}
.fa-bars{
  color:#fff;
  font: size 40px !important;
}
.navbar-toggler{
  border:none;
  outline:none;
  padding:initial;
}
.navbar-toggler:focus{
  box-shadow:none;
}
.navitem{
  margin-left:30px;
  font-size: 1rem;
  text-align: right;
}
.dropdown-menu{
  background-color:#7a1a9e;
  border:none;
}
.dropdown-item{
  font-family: "Lexend Deca", sans-serif;
  color:#fff;
  background-color:#7a1a9e;
  text-align: right;
  font-size: 1rem;
}

.active-home{
  border-bottom: 2px solid #fff;
}

.nav-link{
  font-size: 1.2rem;
  text-align: right;
}
.nav-link:hover{
  border-bottom:2px solid #fff;
}

.navbar-brand{
  color:#fff;
  font-family: "Outfit", sans-serif;
}
.navbar-brand:hover{
  color:#21062b !important;
}
a.nav-bar{
  color:#fff !important;
}
/* SVG modification */
.white-pic{
  filter:invert(1);
}

.nav-bar a {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
.navbar a:hover {
  color: rgb(29, 22, 32);
}
.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav li {
  margin-left: 10px; /* Add spacing between items */
}

.headshot{
  border-color: #3f2345;
  border-width: 10px ;
  border-style: solid;
}
/* Footer  */
.footer{
  margin-top: auto;
  color:#fff;
  background-color: #21062b;
  font-family: "Outfit", sans-serif;
  display:inline-block;
  position:relative;
  bottom: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  width: 100%;
  font-size: 1.25rem;
  padding:1%
}
footer .copyright{
  color:#fff;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
}
footer a{
  color:#fff;
  font-family: "Outfit", sans-serif;
  font-weight: 200
}
footer a:hover{
  color:#7a1a9e
}
footer .fa{
  padding: left 10%, right 10%, bottom 20%;
  height:auto;
  font-size: 2rem;

}
.oneline{
  display:inline-block;
}
/* Modifying pre-existing bootstrap classes */
.img-fluid{
  border-radius: 50%;
  max-width: 100%;
  height: 300px;
}
.btn-primary{
  background-color: #7a1a9e;
  border-color: #3f2345;
  border-width: 2px;
}
.btn-primary:hover{
  background-color:#3f2345;
  border-color: #7a1a9e 
}
.btn-outline-secondary{
  background-color: rgb(35, 20, 40);
  border-color: #251f28 ;
  border-width: 2px;
  COLOR: #FFF;
}
.btn-outline-secondary:hover{
  background-color: rgb(74, 55, 80);
  border-color: #7a1a9e
}
.featurette{
  margin-left: 20px;
}
.featurette-body{
  margin-left:25px;
}
.featurette-body li{
  margin-left:0px;
}
/* .featurette-body li ::marker{
  position:relative;
  left: 0px;
} */
.featurette-image{
  border-width: 15px;
  border-color: #62164c;
  border-style: double ;
  width:500px;
  height:auto;
  display:block;
  object-fit: cover;
}

#mcgill{
  border-color: #e91a30;
}
#uottawa{
  border-color: #8f001a;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: #0000001a;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow:
    inset 0 0.5em 1.5em #0000001a,
    inset 0 0.125em 0.5em #00000026;
}
.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
.bd-mode-toggle .bi {
  width: 1em;
  height: 1em;
}
.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.carousel {
    padding-bottom: 5px;
}
.carousel-caption{
  background-color: #f2f2f2;
  padding: 5px;
}
/* Classes from education featurettes */
.container-marketing{
  padding-top: 60px;
}

.featurette-divider{
  margin: 5rem 0;
  height: 5px;
  margin: 20px auto;
  color:#3f2345
}
/* CSS for volunteering cards */
.card-img-top{
  max-width: 75%;
}
.vol-card-img{
  position:relative;
  left: 38px;
  padding: top 10px;
}
#atwater{
  max-width: 100%;
  padding-top: 100px;
  position: relative;
  bottom: 35px;
  
}
/* CSS for contact page and form */
.contact-container{
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: space-evenly;

}
.contact-left{
  display:flex;
  flex-direction: column;
  align-items: start;
  gap:20px;
}
.contact-left-title > *{
position:relative;
right: 20px;
}
.contact-left-title h2{
  font-weight: 600;
  color: #3f2345;
  font-size:40px;
  margin-bottom: 5px;
}
.contact-left-title hr{
  border:none;
  width: 120px;
  height:5px;
  background-color:#3f2345;
  border-radius:5px;
  margin-bottom: 20px;
  position:relative;
  right: 74px;
}

.contact-inputs{
  width:400px;
  height:50px;
  border:none;
  outline:none;
  padding-left: 25px;
  font-weight: 500;
  color:#666;
  border-radius: 50px;
}
.contact-left textarea{
  height:140px;
  padding-top:15px;
  border-radius: 20px;
}
.contact-inputs: focus{
border: 2px solid #3f2345;
}

.contact-inputs::placeholder{
  color:#a9a9a9;
}
.contact-left button{
  display:flex;
  align-items: center;
  padding: 15px 30px;
  font-size:16px;
  color:#f2f2f2;
  gap:10px;
  border:5px solid #3f2345;
  border-radius:50px;
  background:linear-gradient(270deg, #623870,#3f2345);
  cursor: pointer;
}
.contact-left button img{
  height:15px
}
.contact-right img{
  width: 200px;
  filter: invert(1);
  padding-right: 10px;
}
@media(max-width: 800px){
  .contact-inputs{
    width:80vw
    }
    .contact-right{
      display: none;
    }
  }
 